# Assignment
Pick a dataset of your choice with a binary outcome and the potential for at least 15 features. If you're drawing a blank, the crime rates in 2013 dataset has a lot of variables that could be made into a modelable binary outcome.

Engineer your features, then create three models. Each model will be run on a training set and a test-set (or multiple test-sets, if you take a folds approach). The models should be:

Vanilla logistic regression,
Ridge logistic regression,
Lasso logistic regression.

In your report, evaluate all three models and decide on your best. Be clear about the decisions you made that led to these models (feature selection, regularization parameter selection, model evaluation criteria) and why you think that particular model is the best of the three. Also reflect on the strengths and limitations of regression as a modeling approach. Were there things you couldn't do but you wish you could have done?

# Report
I chose the 2013 NY FBI crime rate database, because it had a modelable binary outcome in the "Murder_and_nonnegligent_manslaughter" column, which is "0" for no murders in a given NY jurisdiction in 2013 and "1" for 1 or more murders in the jurisdiction.

I chose the 2013 NY FBI crime rate database as a training set and the 2014 NY FBI crime rate database as a test set.

I chose features which I had previously used to model property crimes, on the hunch that property crimes and non-property crimes (including murder) might be correlated with the same features.

I also intentionally chose some features that might be highly correlated with each other, such as 
Violent Crime and Aggravated Assault, because I thought the Ridge Regression method in particular would be useful in getting rid of coefficient inflation caused by overly-correlated features.

The features I chose were:
'Population','Robbery','Property_crime','Motor_vehicle_theft','Violent_crime','Aggravated_assault', and 'Burglary.'
The modelable binary outcome variable was 'Murder_and_nonnegligent_manslaughter.'

I ran these features using "Vanilla" Binary Logistic regression, Ridge logistic regression, and Lasso Logistic Regression.

For Binary Logistic regression, I did not modify the default "penalty" parameter in SKLearn's Logistic Regression method. The penalty parameter appears to be either 'l1' for Lasso Regression or 'l2' for Ridge Regresssion. I used a large number for the "C" parameter (inverse of regularization strength) in the case of Binary Logistic Regression.
For Ridge Regression, I specified the 'l2' penalty parameter and tried various C parameter values until I achieved an optimum result, using r-squared as the model evaluation criterion.
For LASSO Regression, I specified the 'l1' penalty parameter and tried various C parameter values until I achieved an optimum result, using r-squared as the model evaluation criterion.

In this case, none of the features appeared to be worth dropping - neither Ridge nor LASSO regression substantially improved on the performance of Binary Logistic regression, and Lasso Regression did not force any features to be nearly zero.

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import seaborn as sns
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
pd.options.display.float_format = '{:.3f}'.format
# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

/usr/local/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
# Parse in the dataframes, skipping footnotes
df2013_raw = pd.read_csv('NYState2013orig.csv',skiprows=4,skipfooter=3)
df2014_raw = pd.read_csv('NYState2014.csv',skiprows=4,skipfooter=7)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
df2013_raw.tail()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
343,Woodbury Town,"10,685",3,0,nan,0,2,1,541,9,529,3,nan
344,Woodridge Village,829,7,0,nan,0,0,7,17,8,9,0,0.000
345,Woodstock Town,"5,931",2,0,nan,0,0,2,58,13,45,0,nan
346,Yonkers,"199,134","1,036",6,nan,25,390,615,"2,368",470,"1,662",236,10.000
347,Yorktown Town,"36,643",15,0,nan,0,2,13,334,45,287,2,nan

In [4]:
df2014_raw.tail()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
364,Woodbury Town4,"10,739",4,0,0,nan,1,3,NaN,5,NaN,0,0.000
365,Woodstock Town4,"5,907",3,0,1,nan,2,0,43,14,29,0,0.000
366,Yonkers4,"200,624",974,3,33,nan,358,580,"2,009",414,"1,395",200,15.000
367,Yorktown Town4,"36,989",13,0,0,nan,0,13,209,24,182,3,0.000
368,Youngstown Village4,"1,896",0,0,0,nan,0,0,1,0,1,0,0.000

In [5]:
def convert_value(num):
    if num > 0:
        return 1
    else: 
        return 0

In [6]:
def process_crime_stats(df):
    # Convert Population column to strings.
    df.Population=df.Population.apply(lambda x:str(x))
    # Take out commas in Population column
    df.Population = df.Population.str.replace(',','')
    # Make Population an integer
    df.Population=df.Population.apply(lambda x:int(x))
    # Create a Population squared column
    df['Population_sq']=df.Population**2
    # Fix column headings
    df.columns = [c.replace(' ', '_') for c in df.columns]
    df.columns = [c.replace('\n', '_') for c in df.columns]
    # Fix Property Crime column
    # drop rows where Property_crime is "na"
    df=df.loc[~df.Property_crime.isna()].copy()
    df.Property_crime = df.Property_crime.apply(lambda x:str(x))
    df.Property_crime = df.Property_crime.str.replace(',','')
    df.Property_crime = df.Property_crime.apply(lambda x:int(x))
    # Fix Robbery column
    df.Robbery=df.Robbery.apply(lambda x:str(x))
    df.Robbery = df.Robbery.str.replace(',','')
    df.Robbery=df.Robbery.apply(lambda x:int(x))
    # Before making Robbery categorical, make a copy of the column for later:
    df['RobberyNum']=df['Robbery']
    # Make Robbery categorical
    df.Robbery=df.Robbery.apply(lambda x:convert_value(x))
    # Before making murder categorical, make a copy of the column for later:
    df['MurderNum']=df['Murder_and_nonnegligent_manslaughter']
    # Make the murder column categorical
    df.Murder_and_nonnegligent_manslaughter=df.Murder_and_nonnegligent_manslaughter.apply(lambda x:convert_value(x))
    # Fix Violent_crime column
    df=df.loc[~df.Violent_crime.isna()].copy()
    df.Violent_crime = df.Violent_crime.apply(lambda x:str(x))
    df.Violent_crime = df.Violent_crime.str.replace(',','')
    df.Violent_crime = df.Violent_crime.apply(lambda x:int(x))
    # Fix Burglary column
    df=df.loc[~df.Burglary.isna()].copy()
    df.Burglary = df.Burglary.apply(lambda x:str(x))
    df.Burglary = df.Burglary.str.replace(',','')
    df.Burglary = df.Burglary.apply(lambda x:int(x))
    # Fix Motor_vehicle_theft column
    df=df.loc[~df.Motor_vehicle_theft.isna()].copy()
    df.Motor_vehicle_theft = df.Motor_vehicle_theft.apply(lambda x:str(x))
    df.Motor_vehicle_theft = df.Motor_vehicle_theft.str.replace(',','')
    df.Motor_vehicle_theft = df.Motor_vehicle_theft.apply(lambda x:int(x))
    # Fix Aggravated_assault column
    df=df.loc[~df.Aggravated_assault.isna()].copy()
    df.Aggravated_assault = df.Aggravated_assault.apply(lambda x:str(x))
    df.Aggravated_assault = df.Aggravated_assault.str.replace(',','')
    df.Aggravated_assault = df.Aggravated_assault.apply(lambda x:int(x))
    return df

In [7]:
df2013_processed = process_crime_stats(df2013_raw)

In [8]:
df2014_processed = process_crime_stats(df2014_raw)

In [9]:
df2013_processed.head()

,City,Population,Violent_crime,Murder_and_nonnegligent_manslaughter,Rape_(revised_definition)1,Rape_(legacy_definition)2,Robbery,Aggravated_assault,Property_crime,Burglary,Larceny-_theft,Motor_vehicle_theft,Arson3,Population_sq,RobberyNum,MurderNum
0,Adams Village,1861,0,0,nan,0,0,0,12,2,10,0,0.000,3463321,0,0
1,Addison Town and Village,2577,3,0,nan,0,0,3,24,3,20,1,0.000,6640929,0,0
2,Akron Village,2846,3,0,nan,0,0,3,16,1,15,0,0.000,8099716,0,0
3,Albany,97956,791,1,nan,30,1,526,4090,705,"3,243",142,nan,9595377936,227,8
4,Albion Village,6388,23,0,nan,3,1,16,223,53,165,5,nan,40806544,4,0

In [10]:
df2013_features=df2013_processed[['Population','Robbery','Property_crime','Motor_vehicle_theft','Violent_crime',
                                  'Aggravated_assault','Burglary']]

In [11]:
df2013_target=df2013_processed['Murder_and_nonnegligent_manslaughter']

In [12]:
df2014_features=df2014_processed[['Population','Robbery','Property_crime','Motor_vehicle_theft','Violent_crime',
                                  'Aggravated_assault','Burglary']]

In [13]:
df2014_target=df2014_processed['Murder_and_nonnegligent_manslaughter']

In [14]:
# "Vanilla" Logistic Regression - note "C" is inverse of regularization strength, so high C value here denotes
# absence of a regularization penalty.
# Declare a logistic regression classifier with
# parameter regularization coefficient C.
regrV = LogisticRegression(C=1e9)

print('Cross-validating a Binary Logistic Regression model between two different data sets: \n')

# Fit our model to our training data.
regrV.fit(df2013_features,df2013_target)

print('Coefficients: \n', regrV.coef_)
print('Intercept: \n', regrV.intercept_)

# Performance on the training data:
print('R squared of model on 2013 training data: \n',regrV.score(df2013_features,df2013_target)) 

# Performance on the test data:
# Score is measuring predicted outcome (same as regr.predict()) v. test data.
print('R squared of model on 2014 test data: \n',regrV.score(df2014_features,df2014_target))

Cross-validating a Binary Logistic Regression model between two different data sets:

Coefficients:
 [[  3.86382954e-05  -5.06802396e-01  -7.57246598e-04  -4.85825949e-02
    4.56814640e-02  -3.90112025e-02   7.95088934e-03]]
Intercept:
 [-2.60194314]
R squared of model on 2013 training data:
 0.905172413793
R squared of model on 2014 test data:
 0.910326086957

In [15]:
# Ridge Logistic Regression - default penalty in SKLearn is L2 regularization, which is Ridge Regression
regrR = LogisticRegression(penalty='l2',C=0.11)
print('Cross-validating a Ridge Logistic Regression model between two different data sets: \n')

# Fit our model to our training data.
regrR.fit(df2013_features,df2013_target)

print('Coefficients: \n', regrR.coef_)
print('Intercept: \n', regrR.intercept_)

# Performance on the training data:
print('R squared of model on 2013 training data: \n',regrR.score(df2013_features,df2013_target)) 

# Performance on the test data:
# Score is measuring predicted outcome (same as regr.predict()) v. test data.
print('R squared of model on 2014 test data: \n',regrR.score(df2014_features,df2014_target))

Cross-validating a Ridge Logistic Regression model between two different data sets:

Coefficients:
 [[  1.65066777e-05  -4.25146285e-01  -1.59720692e-04  -3.34679235e-02
    4.46508373e-02  -3.71046377e-02   1.35630310e-03]]
Intercept:
 [-1.88753422]
R squared of model on 2013 training data:
 0.902298850575
R squared of model on 2014 test data:
 0.91847826087

In [16]:
# LASSO Logistic Regression - specifying L1 penalty in SKLearn, which is LASSO Regression
regrL = LogisticRegression(penalty='l1',C=0.05)
print('Cross-validating a LASSO Logistic Regression model between two different data sets: \n')

# Fit our model to our training data.
regrL.fit(df2013_features,df2013_target)

print('Coefficients: \n', regrL.coef_)
print('Intercept: \n', regrL.intercept_)

# Performance on the training data:
print('R squared of model on 2013 training data: \n',regrL.score(df2013_features,df2013_target)) 

# Performance on the test data:
# Score is measuring predicted outcome (same as regr.predict()) v. test data.
print('R squared of model on 2014 test data: \n',regrL.score(df2014_features,df2014_target))

Cross-validating a LASSO Logistic Regression model between two different data sets:

Coefficients:
 [[  4.45879450e-06   0.00000000e+00   1.37755084e-04  -1.19027562e-03
    7.01299650e-03   9.03146059e-03   5.65484542e-04]]
Intercept:
 [-2.02428692]
R squared of model on 2013 training data:
 0.89367816092
R squared of model on 2014 test data:
 0.913043478261